

<div class="w-full min-h-screen flex justify-center items-center">
    <div class="shadow-2xl rounded-md p-5 w-[400px] bg-white">
        <p class="text-lg font-bold text-center">{{ showForgotPassword ? 'Forgot Password' : 'Sign In' }}</p>
        <p class="text-md font-light text-center text-gray-400 mt-3">
            {{ showForgotPassword ? 'Enter your email to reset password' : 'Welcome back to Affinity Appliance!' }}
        </p>

        <!-- Login Form -->
        <form *ngIf="!showForgotPassword" (ngSubmit)="OnSubmit()" [formGroup]="LoginForm">
            <div class="grid lg:grid-cols-1 md:grid-cols-1 sm:grid-cols-1 gap-3 my-4">
                <p-floatlabel variant="in">
                    <input pInputText id="email" autocomplete="off" formControlName="email" 
                        [class]="IsFormSubmitted && !LoginForm.controls['email'].value ? 'ng-dirty ng-invalid' : ''" />
                    <label for="email">Email</label>
                </p-floatlabel>
                <p-floatlabel variant="in">
                    <p-password id="password" autocomplete="off" toggleMask="true" feedback="false" formControlName="password"
                        [class]="IsFormSubmitted && !LoginForm.controls['password'].value ? 'ng-dirty ng-invalid' : ''" />
                    <label for="password">Password</label>
                </p-floatlabel>
                <div class="flex justify-between items-end">
                    <div class="flex items-end gap-1">
                        <p-checkbox [binary]="true" value="Remember me" size="small" id="remember" />
                        <label for="remember" class="text-xs font-light">Remember me</label>
                    </div>
                    <a class="text-xs font-light text-right cursor-pointer text-blue-700" (click)="toggleForgotPassword()">Forgot Password?</a>
                </div>
                <p-button label="Login" type="submit" size="small" severity="info" />
            </div>
        </form>

        <!-- Forgot Password Form -->
        <form *ngIf="showForgotPassword" (ngSubmit)="OnForgotPasswordSubmit()" [formGroup]="ForgotPasswordForm">
            <div class="grid lg:grid-cols-1 md:grid-cols-1 sm:grid-cols-1 gap-3 my-4">
                <p-floatlabel variant="in">
                    <input pInputText id="forgotEmail" autocomplete="off" formControlName="email" 
                        [class]="IsForgotFormSubmitted && !ForgotPasswordForm.controls['email'].value ? 'ng-dirty ng-invalid' : ''" />
                    <label for="forgotEmail">Email</label>
                </p-floatlabel>
                <div class="flex justify-between">
                    <p-button label="Back to Login" (click)="toggleForgotPassword()" type="button" size="small" severity="secondary" />
                    <p-button label="Submit" type="submit" size="small" severity="info" />
                </div>
            </div>
        </form>
    </div>
</div>