<div class="p-4 shadow bg-white rounded-lg">
  
    <div class="flex justify-between items-center bg-gray-100 p-4 rounded-lg shadow-md mb-4">
        <h1 class="text-2xl font-bold text-gray-600">CONTACT LIST</h1>
        <p-button label="Add Contact" variant="text" [raised]="true" severity="info" />
      </div>
      
      

    <div class="flex items-center gap-2 my-5 ms-4">
          <p-radioButton
            name="status"
            value="Active"
            [(ngModel)]="selectedStatus"
            inputId="active"
            class="text-blue-600"
          ></p-radioButton>
          <label for="active" class="text-gray-700">Active</label>
  
          <p-radioButton
            name="status"
            value="Inactive"
            [(ngModel)]="selectedStatus"
            inputId="inactive"
            class="ml-2 text-blue-600"
          ></p-radioButton>
          <label for="inactive" class="text-gray-700">Inactive</label>
        </div>


    <div class="flex justify-between items-center mb-4 ms-4">
      <div class="flex items-center gap-4">
    
  
        <div class="flex items-center gap-2">
          <label class="text-gray-700">Show</label>
          <p-dropdown
            [options]="entriesOptions"
            [(ngModel)]="selectedEntries"
            placeholder="50"
            styleClass="border border-gray-300 rounded"
          ></p-dropdown>
          <span class="text-gray-700">Entries</span>
        </div>
      </div>
  
      <div class="w-64">
        <p-iconfield>
          <p-inputicon styleClass="pi pi-search" />
          <input type="text" pInputText placeholder="Search" />
      </p-iconfield>
      </div>
    </div>
  
    <p-table
    [value]="contactList"
    [tableStyle]="{ 'min-width': '100%' }"
    styleClass="p-datatable-striped p-datatable-sm w-full custom-table-header"
    class="overflow-x-auto block"
  >
    <ng-template pTemplate="header">
      <tr>
        <th class="whitespace-nowrap text-white bg-red-600">First Name</th>
        <th class="whitespace-nowrap text-white bg-red-600">Last Name</th>
        <th class="whitespace-nowrap text-white bg-red-600">Email</th>
        <th class="whitespace-nowrap text-white bg-red-600">Mobile</th>
        <th class="whitespace-nowrap text-white bg-red-600">Company Name</th>
        <th class="whitespace-nowrap text-white bg-red-600">Job Title</th>
        <th class="whitespace-nowrap text-white bg-red-600">Website</th>
   
  
      </tr>
    </ng-template>
       
    <ng-template pTemplate="body" let-contact>
      <tr>
        <td class="text-blue-400 whitespace-nowrap">{{ contact.firstName }}</td>
        <td class="whitespace-nowrap">{{ contact.lastName }}</td>
        <td class="whitespace-nowrap">
          <a [href]="'mailto:' + contact.email" class="text-blue-400">{{ contact.email }}</a>
        </td>
        <td class="whitespace-nowrap">{{ contact.mobile }}</td>
        <td class="whitespace-nowrap">{{ contact.companyName }}</td>
        <td class="whitespace-nowrap">{{ contact.jobTitle }}</td>
        <td class="whitespace-nowrap">
          <a [href]="contact.website" target="_blank" class="text-blue-400">{{ contact.website }}</a>
        </td>
      
      </tr>
    </ng-template>
  </p-table>
  
  
  
  </div>